<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/sorry_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:ital,wght@0,500;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Sorry_page</title>
</head>
<body>
    <section class="table_section">
        <div class="table_block">
            <h2 class="table_h2">
                Просим прощения!
            </h2>
            <p class="table_text">
                Данная часть сайта временно не доступна. <br> В самое ближайшее время мы исправимся.<br>
                <span class="sorry_sorry">Честно-честно!</span>
            </p>
            <a class="table_link" href="../../../../index.html"><div class="back_link">Назад</div></a>
            
        </div>
    </section>
</body>
</html>