@font-face {
    font-family: 'Roboto';
    src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf),
    url(/src/assets/fonts/Roboto/Roboto-Medium.ttf),
    url(/src/assets/fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}